/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #d6f7e7;
}

.container {
    width: 80%;
    margin: 20px auto; /* Center the container */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Open Sans-Bold", Helvetica;
    font-weight: 700;
    color: #2bae7a;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
}

h2 {
    color: #333; /* Darker heading color */
    font-family: "Open Sans-Bold", Helvetica;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.title-section .section-heading {
    margin-bottom: 20px; /* Add space between heading and buttons */
}

.datetime-section .section-heading {
    margin-bottom: 20px; /* Add space between heading and inputs/buttons */
}

.description-section .section-heading {
    margin-bottom: 20px; /* Add space between heading and textarea */
}

.location-section .section-heading {
    margin-bottom: 20px; /* Add space between heading and buttons */
}

.category-section .section-heading {
    margin-bottom: 20px; /* Add space between heading and buttons */
}

.image-section .section-heading {
    margin-bottom: 20px; /* Add space between heading and button */
}

.category-section .section-heading {
    margin-bottom: 20px; /* Add space between heading and buttons */
}

.category-buttons {
    display: flex; /* Arrange buttons horizontally */
    justify-content: center; /* Center buttons horizontally */
}

.category-buttons .button-with-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between each button */
}

.category-buttons .button-with-icon img {
    width: 30px; /* Adjust the size of the image as needed */
    margin-right: 10px; /* Add spacing between the image and the button */
}

.category-buttons button {
    padding: 8px 35px;
    background-color: #2bae7a;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px; /* Add spacing between each button */
}

#educationBtn {
    background-color: #cc0000; /* Red background color */
    color: #fff; /* White text color */
}

#educationBtn:hover {
    background-color: #c74c4c; /* Darker red background color on hover */
}

#communityBtn {
    background-color: #ff7f00; /* Orange background color */
    color: #fff; /* White text color */
}

#communityBtn:hover {
    background-color: #cc6600; /* Darker orange background color on hover */
}

#technologyBtn {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
}

#technologyBtn:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
}


/* Input and textarea styling */
input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* Full width */
}

/* Description styling */
.description {
    font-size: 14px;
    color: #666;
}

.location-section .section-heading {
    margin-bottom: 20px; /* Add space between heading and buttons */
}

.location-buttons {
    display: flex; /* Arrange buttons horizontally */
    justify-content: center; /* Center buttons horizontally */
}

.location-buttons .button-with-icon {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add margin between each button */
}

.location-buttons .button-with-icon img {
    width: 30px; /* Adjust the size of the image as needed */
    margin-right: 20px; /* Add spacing between the image and the button */
}

.location-buttons button {
    padding: 8px 35px;
    background-color: #2bae7a;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    border-bottom: 3px solid var(--neutral-gray);
    margin-right: 10px; /* Add spacing between each button */
}

.location-buttons button:hover {
    background-color: #218838; /* Change background color on hover */
}


/* Category buttons styling */
.category-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #2bae7a;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease; /* Add smooth transition */
}

#size8to15 {
    background-color: #28a745; /* Green */
    color: #fff; /* White text color */
}

#size8to15:hover {
    background-color: #218838; /* Darker green background color on hover */
}

#size15to20 {
    background-color: #007bff; /* Blue */
    color: #fff; /* White text color */
}

#size15to20:hover {
    background-color: #0056b3; /* Darker blue background color on hover */
}

#size20to30 {
    background-color: #ffc107; /* Yellow */
    color: #000; /* Black text color */
}

#size20to30:hover {
    background-color: #cca000; /* Darker yellow background color on hover */
}

#size30to50 {
    background-color: #ff7f00; /* Orange */
    color: #fff; /* White text color */
}

#size30to50:hover {
    background-color: #cc6600; /* Darker orange background color on hover */
}

#size50to100 {
    background-color: #ff0000; /* Red */
    color: #fff; /* White text color */
}

#size50to100:hover {
    background-color: #cc0000; /* Darker red background color on hover */
}

#size100to500 {
    background-color: #6610f2; /* Purple */
    color: #fff; /* White text color */
}

#size100to500:hover {
    background-color: #4a0c9e; /* Darker purple background color on hover */
}

#size500plus {
    background-color: #8B4513; /* Brown */
    color: #fff; /* White text color */
}

#size500plus:hover {
    background-color: #654321; /* Darker brown background color on hover */
}


/* Styling for footer */
footer {
    background-color: #fff; /* White background color */
    color: #333; /* Dark text color */
    padding: 20px;
    text-align: center;
    position: relative; /* Relative positioning */
    width: 100%;
    z-index: 999; /* Ensure footer stays above other content */
    display: flex; /* Use flexbox */
    justify-content: flex-end; /* Align items to the end (right) */
    
}

/* Styling for buttons inside footer */
footer button {
    padding: 10px 20px;
    margin-left: 10px; /* Add margin between buttons */
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for "Exit" button */
footer button#exitButton {
    color: #007bff; /* Blue font color */
    background-color: white; 

}

/* Hover effect for "Exit" button */
footer button#exitButton:hover {
    background-color: #f0f0f0; /* Light gray background */
}

/* Styling for "Create Event" button */
footer button#createEventButton {
    color: #fff; /* White font color */
    background-color: #28a745; /* Green background color */
}

/* Hover effect for "Create Event" button */
footer button#createEventButton:hover {
    background-color: #218838; /* Darker green background on hover */
}



