
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    display:grid;
    grid-template-columns: 200px 150px 150px 250px 200px 200px;
    grid-template-rows: 200px 300px ;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.login-container{
    
    background-color: #8ec697;
    justify-content: center;
    padding: 40px;
    padding: 28px;

    border-radius: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.outer-container{
    grid-column: 4;
    grid-row: 2;
    margin:5px;
    
}
.u{
   
    text-align: center;
    margin-top: 5px;
    color:#fff
}
button{
    text-align: center;
    padding-top:25px;
    border-radius: 20px;
    padding-left: 0px;

}
.b{
    padding-top: 15px;
}
/* Define Open Sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Global styles */
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fffafa;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Button styles */

.b:before,
.b:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: all 0.3s;
}

.b:before {
  background: #a5e2d6;
  z-index: -2;
}

.b:after {
  background: #08a394;
  z-index: -1;
  transform: translate3d(0, 150%, 0) scale(1.4);
}

.b:hover {
  color: #58b7aa;
}

.b:hover:after {
  transform: translate3d(0, 0, 0) scale(1);
}

input[type="text"],
input[type="password"]{

border: 3px solid #6ead78;
width: 100%; /* Set the width to 100% to fill the container */
    height: 30px;
 transition: border-color 0.3s ease;
 border-radius: 50px;
}
.i{
    padding-left: 10px;
}

input[type="text"]:focus:hover,
input[type="password"]:focus:hover {
  outline: none;
  border-color: #0fd0c3;
  box-shadow: 0 0 5px rgba(137, 216, 162, 0.5);
  cursor: pointer;
}

button[type="submit"] {
width: 100%;
  padding: 1px;
  font-size: 15px;
  background-color: #40af6b;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #a9e2c7;
}

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
  }

  .centre-placeholder{
    text-align: center;
  }

h1{
    font-family:'Open Sans', Helvetica, Arial, sans-serif;
    color:white;
    grid-column: 4;
    grid-row: 1;
   text-align:center;
}
img{
    width:40px;
    height:40px;
}

button.google-button{
    padding:0px;
    border:0px;
    size:0px;
}

img{
    grid-column:1;
    grid-row: 2;
    width: 250px;
    height: 300px;
    border-radius: 30px;
}
.two{
    grid-column:6;
    grid-row: 1;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}
.three{
    grid-row: 1;
    grid-column: 3;
    width:150px;
    height:200px;
}